<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Image</title>
</head>

<body>
	<h1>Put an Image</h1>
	<form th:action="@{/image}" method="post" enctype="multipart/form-data">
  		<label for="file">Select a file:</label>
  		<input type="file" id="file" name="file"><br><br>
  		<input type="submit">
	</form>
	
	<button onclick="goBack()">Go Back</button>

	<script>
		function goBack() {
  		window.history.back();
		}
	</script>

</body>
</html>