<!DOCTYPE html>
<html>
<head>
    <title>Entrata</title>
    <link rel="stylesheet" href="css/enter.css">
</head>
<body>
<h1>sei entrato</h1>

<div class="container">
  <form action="">

    <label for="username">First Name</label>
    <input type="text" id="username" name="username" placeholder="es. Mario Rossi">

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="es. nome@email.com">

    <label for="password">Password</label>
	<input type="password" id="password" name="password" >

    <label for="birthday">Birthday</label>
    <input type="date" id="birthday" name="birthday">


    <input type="submit" value="Submit">

  </form>
</div>
</body>
</html>
